body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}
body > div {
  height: 100%;
  overflow: auto;
}

.title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: 4vmin;
  font-family: sans-serif;
  margin: 0.5em 0;
}

#editor {
  height: 100vh;
}

button {
  font-size: 1em;
}

#output {
  padding: 0.25em 0.25em 0.25em 1em;
  background-color: antiquewhite;
  font-family: monospace;
  white-space: pre;
  overflow: auto;
  min-height: 25vh;
}
#output .bold { font-weight: bold; }
#output .red { color: red; }
#output .blue { color: blue; }

#footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
  margin: 0.5em 0;
}

table.source {
  background-color: #272822;
  color: #F8F8F2;
}

.linenum {
  font-family: monospace;
  text-align: right;
  font-weight: bold;
  width: 4em;
  padding: 0 1em;
  border-right: 1px solid #F8F8F2;
}

pre.source {
  font-family: monospace;
  text-align: left;
  padding: 0 1em;
}


.error_message {
  padding: 1em;
  background: #a0a0a0;
}

strong.error_header {
  color: darkred;
  padding: 0;
}
